node_modules/
dist/
coverage/
package-lock.json
data/
tmp/
bin/
.fhir-packages
.DS_Store
.idea
.run
.vscode
.env
output

*.jar

example/csharp/net8.0
example/csharp/obj
example/csharp/bin
*.sln

# SDK Examples
/java-sdk
example/docker-compose.yaml

# Python SDK
__pycache__/
.pytest_cache/
