

protected static abstract class Abstract{{{saveName}}}Builder<T extends {{{saveName}}}, B extends Abstract{{{saveName}}}Builder<T,B>> {{#hasParents}}extends Abstract{{{parents.0.saveName}}}Builder<T,B>{{/hasParents}}{

    {{#fields}}
        @Nullable
        private {{>plain_type}} {{{saveName}}} = null;
        {{#isPrimitive}}
            @Nullable
            private {{#lambda.saveTypeName}}Element{{/lambda.saveTypeName}} {{{saveName}}}Element = null;
        {{/isPrimitive}}
    {{/fields}}
    private final Lock lock = new ReentrantLock();

    protected Abstract{{{saveName}}}Builder() {
    }

    {{#fields}}
        {{#isArray}}
            private final {{>plain_type}} {{{saveName}}}(){
                this.lock.lock();
                try{
                    if(this.{{{saveName}}} == null) {
                        this.{{{saveName}}} = new ArrayList<>();
                    }
                    return this.{{{saveName}}};
                }finally{
                    this.lock.unlock();
                }
            }
            public final B {{{saveName}}}(@Nullable {{>plain_type}} {{{saveName}}}) {
                this.lock.lock();
                try{
                    this.{{{saveName}}}().clear();
                    if ({{{saveName}}} != null) this.{{{saveName}}}().addAll({{{saveName}}});
                    return this.self();
                }finally{
                    this.lock.unlock();
                }
            }
            public final B {{{saveName}}}({{{typeName}}} {{{saveName}}}, {{{typeName}}}... further) {
                requireNonNull({{{saveName}}});
                this.lock.lock();
                try{
                    this.{{{saveName}}}().clear();
                    this.{{{saveName}}}().add({{{saveName}}});
                    this.{{{saveName}}}().addAll(Arrays.asList(further));
                    return this.self();
                }finally{
                    this.lock.unlock();
                }
            }
            public final B add{{#lambda.saveFieldName}}{{#lambda.pascalCase}}{{{saveName}}}{{/lambda.pascalCase}}{{/lambda.saveFieldName}}(@Nullable {{>plain_type}} {{{saveName}}}) {
                this.lock.lock();
                try{
                    if ({{{saveName}}} != null) this.{{{saveName}}}().addAll({{{saveName}}});
                    return this.self();
                }finally{
                    this.lock.unlock();
                }
            }
            public final B add{{#lambda.saveFieldName}}{{#lambda.pascalCase}}{{{saveName}}}{{/lambda.pascalCase}}{{/lambda.saveFieldName}}({{{typeName}}} {{{saveName}}}, {{{typeName}}}... further) {
                requireNonNull({{{saveName}}});
                this.lock.lock();
                try{
                    this.{{{saveName}}}().add({{{saveName}}});
                    this.{{{saveName}}}().addAll(Arrays.asList(further));
                    return this.self();
                }finally{
                    this.lock.unlock();
                }
            }
        {{/isArray}}
        {{^isArray}}
        public final B {{{saveName}}}(@Nullable {{>plain_type}} {{{saveName}}}) {
            this.{{{saveName}}} = {{{saveName}}};
            return this.self();
        }
        {{/isArray}}
        {{#isPrimitive}}
            public final B {{{saveName}}}Element(@Nullable {{#lambda.saveTypeName}}Element{{/lambda.saveTypeName}} {{{saveName}}}Element) {
                this.{{{saveName}}}Element = {{{saveName}}}Element;
                return this.self();
            }
        {{/isPrimitive}}
    {{/fields}}

    protected abstract B self();
}