
public static final class {{{saveName}}}Builder extends Abstract{{{saveName}}}Builder<{{{saveName}}},{{{saveName}}}Builder>{
    private {{{saveName}}}Builder(){
    }
    protected {{{saveName}}}Builder self(){
        return this;
    }
    public {{{saveName}}} build(){
        return new {{{saveName}}}(this);
    }
}