{{#hasChildren}}
    public static {{{saveName}}}Builder {{#lambda.camelCase}}{{{saveName}}}{{/lambda.camelCase}}Builder() {
        return new {{{saveName}}}Builder();
    }
    private static {{{saveName}}}Builder builder() {
        return new {{{saveName}}}Builder();
    }
{{/hasChildren}}
{{^hasChildren}}
    public static {{{saveName}}}Builder builder() {
        return new {{{saveName}}}Builder();
    }
{{/hasChildren}}

{{>feature_builder_abstract_builder.mustache}}
{{>feature_builder_builder.mustache}}

private {{{saveName}}}({{{saveName}}}Builder builder) {
    this((Abstract{{{saveName}}}Builder<?,?>)requireNonNull(builder));
}

protected {{{saveName}}}(Abstract{{{saveName}}}Builder<?,?> builder) {
    {{#parents.0}}super(requireNonNull(builder));{{/parents.0}}
    {{#fields}}
        {{#isRequired}}requireNonNull(builder.{{{saveName}}}, "missing '{{{saveName}}}'");{{/isRequired}}
    {{/fields}}
    {{#fields}}
        {{#isArray}}
            this.{{{saveName}}} = {{#isRequired}}List.copyOf({{/isRequired}}builder.{{{saveName}}}{{^isRequired}} != null ? List.copyOf(builder.{{{saveName}}}) : null{{/isRequired}}{{#isRequired}}){{/isRequired}};
        {{/isArray}}
        {{^isArray}}
            this.{{{saveName}}} = builder.{{{saveName}}};
        {{/isArray}}
    {{/fields}}
}
protected <B extends Abstract{{{saveName}}}Builder<?,B>> B applyToBuilder(B builder) {
    requireNonNull(builder);
    {{#hasParents}}super.applyToBuilder(builder);{{/hasParents}}
    {{#hasFields}}
        builder
        {{#fields}}
                .{{{saveName}}}(this.{{{saveName}}})
        {{/fields}};
    {{/hasFields}}
    return builder;
}
{{#hasChildren}}
private final {{{saveName}}}Builder toBuilder() {
    return this.applyToBuilder({{{saveName}}}.builder());
}
public final {{{saveName}}}Builder to{{{saveName}}}Builder() {
    return this.toBuilder();
}
{{/hasChildren}}
{{^hasChildren}}
public {{{saveName}}}Builder toBuilder() {
    return this.applyToBuilder({{{saveName}}}.builder());
}
{{/hasChildren}}

{{#properties.features.builder.wither}}
    {{>feature_builder_wither}}
{{/properties.features.builder.wither}}