public static {{{saveName}}}Builder {{#lambda.camelCase}}{{{saveName}}}{{/lambda.camelCase}}Builder() {
    return new {{{saveName}}}Builder();
}

{{>feature_builder_abstract_builder.mustache}}
{{>feature_builder_builder.mustache}}

private {{{saveName}}}({{{saveName}}}Builder builder) {
    this((Abstract{{{saveName}}}Builder<?,?>)requireNonNull(builder));
}

protected {{{saveName}}}(Abstract{{{saveName}}}Builder<?,?> builder) {
    {{#parents.0}}super(requireNonNull(builder));{{/parents.0}}
    {{#fields}}
        {{#isRequired}}requireNonNull(builder.{{{saveName}}}, "missing '{{{saveName}}}'");{{/isRequired}}
    {{/fields}}
    {{#fields}}
        {{#isArray}}
            this.{{{saveName}}} = {{#isRequired}}List.copyOf({{/isRequired}}builder.{{{saveName}}}{{^isRequired}} != null ? List.copyOf(builder.{{{saveName}}}) : null{{/isRequired}}{{#isRequired}}){{/isRequired}};
            {{#isPrimitive}}
                this.{{{saveName}}}Element = builder.{{{saveName}}}Element != null ? List.copyOf(builder.{{{saveName}}}Element) : null;
            {{/isPrimitive}}
        {{/isArray}}
        {{^isArray}}
            this.{{{saveName}}} = builder.{{{saveName}}};
            {{#isPrimitive}}
                this.{{{saveName}}}Element = builder.{{{saveName}}}Element;
            {{/isPrimitive}}
        {{/isArray}}
    {{/fields}}
}
protected <B extends Abstract{{{saveName}}}Builder<?,B>> B applyToBuilder(B builder) {
    requireNonNull(builder);
    {{#hasParents}}super.applyToBuilder(builder);{{/hasParents}}
    {{#hasFields}}
        builder
        {{#fields}}
                .{{{saveName}}}(this.{{{saveName}}})
                {{#isPrimitive}}
                    .{{{saveName}}}Element(this.{{{saveName}}}Element)
                {{/isPrimitive}}
        {{/fields}};
    {{/hasFields}}
    return builder;
}
{{#hasChildren}}
protected Abstract{{{saveName}}}Builder<?,?> toBuilder() {
    return this.toBuilder();
}
public final {{{saveName}}}Builder to{{{saveName}}}Builder() {
    return this.applyToBuilder({{{saveName}}}.{{#lambda.camelCase}}{{{saveName}}}{{/lambda.camelCase}}Builder());
}
{{/hasChildren}}
{{^hasChildren}}
public final {{{saveName}}}Builder toBuilder() {
    return this.applyToBuilder({{{saveName}}}.{{#lambda.camelCase}}{{{saveName}}}{{/lambda.camelCase}}Builder());
}
{{/hasChildren}}