public {{^isRequired}}Optional<{{/isRequired}}{{>plain_type}}{{^isRequired}}>{{/isRequired}} {{#lambda.saveFieldName}}{{#lambda.camelCase}}{{{saveName}}}{{/lambda.camelCase}}{{/lambda.saveFieldName}}() {
    return {{^isRequired}}Optional.ofNullable({{/isRequired}}this.{{{saveName}}}{{^isRequired}}){{/isRequired}};
}
{{#isPrimitive}}
    public Optional<{{#isArray}}List<{{/isArray}}{{#lambda.saveTypeName}}Element{{/lambda.saveTypeName}}>{{#isArray}}>{{/isArray}} {{#lambda.saveFieldName}}{{#lambda.camelCase}}{{{saveName}}}{{/lambda.camelCase}}{{/lambda.saveFieldName}}Element() {
        return Optional.ofNullable(this.{{{saveName}}}Element);
    }
    {{#isDateTime}}
        {{>field_getter_local_date_time}}
    {{/isDateTime}}
    {{#isInstant}}
        {{>field_getter_local_date_time}}
    {{/isInstant}}
{{/isPrimitive}}