{{#isResource}}
@JsonTypeName("{{{saveName}}}")
{{#children.0}}
@JsonSubTypes({
{{#children}}
    @JsonSubTypes.Type(value = {{{saveName}}}.class){{^-last}},{{/-last}}
{{/children}}
})
{{/children.0}}{{/isResource}}
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonAutoDetect(
    fieldVisibility = JsonAutoDetect.Visibility.NONE,
    getterVisibility = JsonAutoDetect.Visibility.NONE,
    isGetterVisibility = JsonAutoDetect.Visibility.NONE,
    setterVisibility = JsonAutoDetect.Visibility.NONE,
    creatorVisibility = JsonAutoDetect.Visibility.NONE
)
public {{#isNested}}static{{/isNested}} class {{{saveName}}} {{#parents.0}}extends {{{parents.0.saveName}}}{{/parents.0}}{

    {{#nestedComplexTypes}}
        {{>inner_resource_or_complex_type}}
    {{/nestedComplexTypes}}

    {{#nestedEnums}}
        {{>inner_enum}}
    {{/nestedEnums}}

    {{#fields}}
        private final {{>annotated_type}} {{{saveName}}};
    {{/fields}}

    protected {{{saveName}}}(){
        {{#fields}}
            this.{{{saveName}}} = null;
        {{/fields}}
    }

    {{#fields}}
        {{>field_getter}}
    {{/fields}}


    {{#properties.features.builder}}
        {{>feature_builder}}
    {{/properties.features.builder}}

    {{#properties.features.hash_code_equals}}
        {{>feature_hashcode_equals}}
    {{/properties.features.hash_code_equals}}

    {{#properties.features.wither}}
        {{>feature_wither}}
    {{/properties.features.wither}}
}