package {{{properties.package}}};

import static java.util.Objects.requireNonNull;
import jakarta.annotation.Generated;

@Generated(value="{{{meta.generator}}}", date="{{{meta.timestamp}}}")
{{#model}}
public enum ResourceName{
    {{#resources}}
        {{#lambda.upperCase}}{{#lambda.snakeCase}}{{saveName}}{{/lambda.snakeCase}}{{/lambda.upperCase}}("{{{name}}}"){
            public Class<{{{saveName}}}> resourceClass() {
                return {{{saveName}}}.class;
            }
        }{{^-last}},{{/-last}}
    {{/resources}};

    private final String typeName;
    ResourceName(String typeName) {
        this.typeName = requireNonNull(typeName);
    }

    public String typeName() {
        return typeName;
    }
    public abstract Class<? extends {{#lambda.saveTypeName}}Resource{{/lambda.saveTypeName}}> resourceClass();
}
{{/model}}